<br>
Здравствуйте, {$data.fio}!<br>
<br>
Сегодня на форуме {$data.server_name} обновился раздел "{$data.topicgroup_title}", подписчиком которого Вы
являетесь.<br>
<br>
{$data.message_login} добавил тему "{$data.topic_title}".<br>
<br>
Для просмотра новой темы пройдите, пожалуйста, по ссылке:
<a class="moz-txt-link-freetext" href="{url full_url=1 page=forum form=message_list topicgroup_ind=$data.topicgroup_ind topic_ind=$data.topic_ind}">{url full_url=1 page=forum form=message_list topicgroup_ind=$data.topicgroup_ind topic_ind=$data.topic_ind}">{url full_url=1 page=forum form=message_list topicgroup_ind=$data.topicgroup_ind topic_ind=$data.topic_ind}">{url full_url=1 page=forum form=message_list topicgroup_ind=$data.topicgroup_ind topic_ind=$data.topic_ind}</a>.<br>
<br>
Для того, чтобы отписаться от получения уведомлений об изменениях, Вам
необходимо убрать галочку на странице соотвтетсвующего раздела и сохранить
изменения.<br>
<br>
--<br>
Форум {$data.server_name}<br>
<a class="moz-txt-link-freetext" href="{url full_url=1 page=forum}">{url full_url=1 page=forum}</a><br>
<br>