<br>
Здравствуйте, {$params.fio}!<br>
<br>
Сегодня на форуме по строительству и ремонту группы компаний «Стройся» обновился раздел "{$params.topicgroup_title}", подписчиком которого Вы
являетесь.<br>
<br>
{$params.now|sdate} {$params.message_login} добавил тему "{$params.topic_title}".<br>
<br>
Для просмотра новой темы пройдите, пожалуйста, по ссылке:
<a class="moz-txt-link-freetext" href="http://www.stroysa.tomsk.ru/forum/{$params.topicgroup_ind}/{$params.topic_ind}/">http://www.stroysa.tomsk.ru/forum/{$params.topicgroup_ind}/{$params.topic_ind}/</a>.<br>
<br>
Для того, чтобы отписаться от получения уведомлений об изменениях, Вам
необходимо убрать галочку на странице соотвтетсвующего раздела и сохранить
изменения.<br>
<br>
--<br>
Форум по строительству и ремонту группы компаний «Стройся»<br>
<a class="moz-txt-link-freetext" href="http://www.stroysa.tomsk.ru/forum/">http://www.stroysa.tomsk.ru/forum/</a><br>
<br>