<div style="padding:35px;">
<H1 class=kaska></H1>
<div class="clear"></div>
<div style="padding-left:15pt;">
				<font face="Arial"><b>Загрузка картинок</b></font>
				<p>Для загрузки картинок мы рекомендуем использовать сервис <a href="http://ipicture.ru/">ipicture.ru</a>.</p><br/>
				<p><b>1.</b> Зайдите на сайт <a href="http://ipicture.ru/">ipicture.ru</a><br/><img src="{static_url path="core/img/docs/forum/1.png"}"/></p><br/>
				<br/>
				<p><b>2.</b> В появившемся окне:<br/><img src="{static_url path="core/img/docs/forum/2.png"}"/></p><br/><br/>
				<p><b>3.</b> Вернитесь на страницу форума и вставте изображение:<br/><img src="{static_url path="core/img/docs/forum/3.png"}"/></p><br/><br/>
</div>