<div style="padding:35px;">
<H1 class=kaska>Правила форума</H1>
<div class="clear"></div>
<div style="padding-left:15pt;">
			<ol style="margin-top: 12px">
				<li style="margin-top: 15px; margin-bottom: 25px">
				<font face="Arial"><b>Общие положения</b></li>
				</font>
				<div class="first"><font face="Arial"><span class="ind">1.1.&nbsp;</span>Форум 
					по строительству и ремонту группы компаний «Стройся» (в 
					дальнейшем - Форум) предназначен для общения строителей, 
					обсуждения тем, интересных его участникам, за исключением политических тем.</font></div>
				<div class="first"><font face="Arial"><span class="ind">1.2.&nbsp;</span>Форум является открытым, и стать участником Форума может любой пользователь 
					интернета.</font></div>
				<li style="margin-top: 15px; margin-bottom: 25px">
				<font face="Arial"><b>Правила публикации сообщений</b></li>
				</font>
				<div class="first"><font face="Arial"><span class="ind">2.1.&nbsp;</span>Любой зарегистрированный участник Форума имеет право публиковать сообщения в любом разделе Форума (за исключением закрытых). Предварительная фильтрация сообщений на Форуме отсутствует.</font></div>
				<div class="first"><font face="Arial"><span class="ind">2.2.&nbsp;</span>Администрация Форума не несет ответственности за Ваши высказывания, а также за высказывания других участников. Все, что Вы публикуете, остается целиком и полностью на Вашей совести и на Вашей ответственности.</font></div>
				<div class="first"><font face="Arial"><span class="ind">2.3.&nbsp;</span>Язык общения на Форуме - русский. При публикации сообщений старайтесь, по мере возможности, придерживаться правил русского языка. Использование транслита (написание русских слов символами латиницы) при написании сообщений допускается только в крайних случаях.</font></div>
				<div class="first"><font face="Arial"><span class="ind">2.4.&nbsp;</span>При публикации сообщений в том или ином разделе Форума, придерживайтесь общей темы обсуждения. При размещении сообщений не по теме (оффтоп) Ваше сообщение может быть удалено.</font></div>
				<div class="first"><font face="Arial"><span class="ind">2.5.&nbsp;</span>При перепечатке информации из средств массовой информации и с других интернет-ресурсов обязательно указывайте источник (ссылку).</font></div>
				<li style="margin-top: 15px; margin-bottom: 25px">
				<font face="Arial"><b>На Форуме запрещено:</b></li>
				</font>
				<div class="first"><font face="Arial"><span class="ind">3.1.&nbsp;</span></font></div>
				<div class="sub"><font face="Arial">а) оскорблять чужое достоинство;</font></div>
				<div class="sub"><font face="Arial">б) сеять и проявлять межнациональную или межрелигиозную рознь;</font></div>
				<div class="sub"><font face="Arial">в) обсуждать личности, личные обстоятельства, интеллектуальный, культурный, образовательный и профессиональный уровень Форума и его участников;</font></div>
				<div class="sub"><font face="Arial">г) употреблять ненормативную лексику;</font></div>
				<div class="sub"><font face="Arial">д) высказывать свои политические убеждения и оспаривать политические убеждения оппонента;</font></div>
				<div class="sub"><font face="Arial">е) проводить пропаганду любых религиозных учений.</font></div>
				<div class="first"><font face="Arial"><span class="ind">3.2.&nbsp;</span></font></div>
				<div class="sub"><font face="Arial">а) публиковать объявления рекламного характера;</font></div>
				<div class="sub"><font face="Arial">б) публиковать частные объявления (в том числе о купле и продаже);</font></div>
				<div class="sub"><font face="Arial">в) давать в сообщениях, а также указывать в личной подписи ссылки, адреса, и телефоны российских магазинов и русскоязычных интернет-магазинов, торгующих 
					строительными материалами;</font></div>
				<div class="sub"><font face="Arial">г) публиковать однотипные темы или сообщения сразу в нескольких темах или разделах Форума (кросс-постинг);</font></div>
				<div class="sub"><font face="Arial">д) систематическая публикация сообщений бессодержательного характера в разные темы, т.н. "флуд".</font></div>
				<div class="first"><font face="Arial"><span class="ind">3.3.&nbsp;</span></font></div>
				<div class="sub"><font face="Arial">а) регистрироваться под провокационными и одиозными именами (никами); под именами, оскорбляющими национальные и религиозные чувства других участников;</font></div>
				<div class="sub"><font face="Arial">б) регистрироваться под именами (в том числе с небольшими изменениями) уже существующих пользователей.</font></div>
				<font face="Arial">
				</font>
				<li style="margin-top: 15px; margin-bottom: 25px">
				<font face="Arial"><b>Урегулирование конфликтов, санкции к нарушителям</b></li>
				</font>
				<div class="first"><font face="Arial"><span class="ind">4.1.&nbsp;</span>За нарушение правил Форума участнику выносится предупреждение.</font></div>
				<div class="first"><font face="Arial"><span class="ind">4.2.&nbsp;</span>За получение трех предупреждений участник может быть перевод в режим ReadOnly (только для чтения) на срок до двух недель.</font></div>
				<div class="first"><font face="Arial"><span class="ind">4.3.&nbsp;</span>В случае нарушения пользователем режима ReadOnly в качестве штрафной санкции (регистрация под другим именем/ip для написания сообщений), а также за злостные и неоднократные нарушения правил Форума нарушитель может быть навсегда исключен из числа участников Форума.</font></div>
				<li style="margin-top: 15px; margin-bottom: 25px">
				<font face="Arial"><b>Модераторы и администрация Форума</b></li>
				</font>
				<div class="first"><font face="Arial"><span class="ind">5.1.&nbsp;</span>Контроль за настоящими правилами осуществляется модераторами (которые приглашаются администрацией Форума из числа активных и авторитетных участников) и администрацией Форума.</font></div>
				<div class="first"><font face="Arial"><span class="ind">5.2.&nbsp;</span>Модератор вправе редактировать и удалять сообщения участников, если они противоречат правилам Форума.</font></div>
				<div class="first"><font face="Arial"><span class="ind">5.3.&nbsp;Модератор вправе переносить и закрывать темы нарушающие правила Форума, в том числе темы, которые:</span></font></div>
				<div class="sub"><font face="Arial">&ndash; не соответствуют тематике Форума или раздела;</font></div>
				<div class="sub"><font face="Arial">&ndash; дублируют по предмету обсуждения уже существующие темы;</font></div>
				<div class="sub"><font face="Arial">&ndash; теряют конструктивность обсуждения (повторы аргументов, оффтопики, cлишком эмоциональное поведение участников);</font></div>
				<div class="first"><font face="Arial"><span class="ind">5.4.&nbsp;</span>Модератор имеет право выносить предупреждение и переводить участника в режим ReadOnly за неоднократные и злостные нарушения правил Форума.</font></div>
				<div class="first"><font face="Arial"><span class="ind">5.5.&nbsp;</span>Модератор самостоятельно принимает решение в спорной ситуации. Его решение не обсуждаемо, однако в случае несогласия с ним, данное решение может быть обжаловано участником Форума у администрации.</font></div>
				<div class="first"><font face="Arial"><span class="ind">5.6.&nbsp;</span>Решение об исключении нарушителя из числа участников Форума может быть принято только администрацией.</font></div>
				<div class="first"><font face="Arial"><span class="ind">5.7.&nbsp;</span>Решение администрации Форума по тому или иному вопросу является окончательным.</font></div>				
			</ol>
</div>			
</div>